{% extends 'base.html' %}

{% block title %}
    About Page
{% endblock %}

{% block body %}
    <div style="text-align: center">
        <h1>Сайт Books</h1>
        <div style="font-size: larger; font-style: italic">
            <p>Этот сайт предоставляет информацию о книгах и их авторах и ценах.</p>
            <p>Сайт сделан с использованием Python, FastAPI, Jinja2 и Bootstrap.</p>
            <p>Автор: Александр Горбенко</p>
            <p>Сайт находится в стадии разработки.</p>
        </div>
    </div>


{% endblock %}